@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

/*Header*/

.header-container {
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 30px;
  width: 1040px;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #FFE17F;
  color: #000000;
}

.logo {
  margin-bottom: 30px
}

.main-navigation {
  padding-bottom: 14px
}

.user-navigation,
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1040px;
}

.user-navigation {
  display: flex;
  margin-bottom: 30px;
}

.user-navigation-link {
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding-left: 25px;
  box-sizing: border-box;
}

.user-navigation-item:nth-child(2) {
  margin-right: auto;
}

.user-navigation-item:last-child {
  padding-left: 25px;
}

.search-form {
  margin-right: 26px;
}

.search-field {
  width: 360px;
  padding-left: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-button {
  width: 160px;
  padding: 10px 56px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation-item:nth-child(2) {
  margin-left: auto;

}

.site-navigation-item {
  padding-right: 45px;
}

.site-navigation-item:last-child {
  padding-right: 0;
}


.main-catalog {
  padding-right: 57px;
}

.site-navigation-link,
.button,
.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/*Main*/

/*Slider*/

.main-container {
  flex-grow: 1;
  margin: 0 auto;
  width: auto;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

.promo {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.promo-counter {
  list-style: none;
}

.promo-counter-item {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  text-align: right;
}

.promo-slider {
  display: flex;
  justify-content: space-between
}

.slider-title {
  margin-bottom: 30px;
}

.slider-photo {
  display: flex;
  width: 560px;
}

.slider-button {
  align-self: center;
}

.slider-description {
  width: 560px;
  padding-top: 123px;
  margin-left: 40px;
  padding-bottom: 38px;
}

.slider-text {
  margin-bottom: 50px;
}

.slider-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.slider-benefits-term {
  font-size: 36px;
  color: #000000;
  margin-bottom: 12px;
}

.slider-benefits-column {
  margin-right: 20px;
}

.slider-benefits-description {
  font-size: 16px;

}

.slider-pagination {
  display: flex;
}

.slider-benefits {
  display: flex;
}


.slider-benefits-description {
  margin: 0;
}

/*Categories*/

.categories {
  margin: 0 auto;
  width: 1160px;
}

.categories-list {
  width: 1160px;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.categories-item {
  width: 160px;
  display: flex;
  flex-direction: column;
}

.categories-link {
  background-color: #f7e296;
  margin-bottom: 34px;
  width: 160px;
  height: 160px;
}

.categories-icon {
  fill: #363636;
}

.categories-link,
.categories-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

/*Services*/

.services {

  background-color: #F0F0F0;
  margin-bottom: 70px;
}

.services-container {
  display: flex;
  width: 1160px;
  justify-content: space-between;

  margin: 0 auto;
  margin-bottom: 72px;
}

.services-list {
  width: 290px;
  margin: 65px 0;
  margin-left: 123px;
  padding: 0;
  list-style: none;
}

.services-list-item {
  margin-bottom: 35px;
}

.services-list-item:last-child {
  margin-bottom: 0;

}

.services-button {
  color: #000000;
}

.services-list-item .active {
  color: #FFE17F;
}

.services-slider {
  width: 694px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 73px;
  margin-bottom: 73px;
  margin-right: 63px;
}

.services-slide-1 {
  display: flex;
  justify-content: space-between;
}

.services-wrapper {
  width: 452px;
}

.services-title {
  margin-bottom: 34px;
}

/*Delivery-option*/

.delivery-option {
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 70px;
}

.delivery-button {
  width: 1160px;
  font-size: 20px;
  line-height: 23px;
  padding: 40px 125px;
}

/*About*/

.about-columns {
  width: 1160px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about {
  width: 520px;
  margin-right: 108px;
}

.about-title {
  margin: 48px 0;
}

.about p {
  margin-bottom: 30px;
}

.delivery-companie-list {
  margin-bottom: 30px;

}

.delivery-companie-list-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 19px;
}

.button {
  color: #000000;
}

/*Contacts*/

.contacts {
  width: 532px;
}

.contacts-title {
  margin: 48px 0;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: #444444;
}

.contacts-schedule {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

/*Subscription*/

.subscription {
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
}

.subscription-container {
  margin: 0 auto;
  width: 1160px;
  margin-top: 64px;
  margin-bottom: 56px;
}

.subscription-row {
  display: flex;
  justify-content: space-between;
}

.subscription-row:first-child {
  margin-bottom: 144px;
}

.subscription-title {
  width: 350px;
}

.subscription-description {
  width: 560px;
}

.subscription-field {
  padding-left: 17px;
  padding-right: 447px;
  padding-top: 21px;
  padding-bottom: 21px;

}

.subscription-button {
  padding: 18px 39px;
}

/*Footer*/

.main-footer {
  background-color: #444444;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 62px;
}

.footer-row {
  display: flex;
  margin-bottom: 63px;
}

.footer-address {
  width: 240px;
  padding-right: 112px;
  font-style: normal;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  width: 444px;
}

.footer-navigation-link {
  color: inherit;
  font-size: 18px;
  line-height: 21px;
}

.footer-phone {
  color: inherit;
  margin-left: auto;
  align-self: center;
}

.footer-socials-list::before {
  content: '';
  height: 7px;
  width: 80px;
  background-color: #ffc600;
  position: relative;
  left: -500px;
  bottom: -20px;
}

.footer-socials-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 150px;
  margin-left: 500px;
  display: flex;
  flex-wrap: wrap;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer-socials-item:nth-child(3n) {
  margin-right: 0;
}

.footer-copyright {
  margin-left: auto;
}

/*Catalog*/

.main-catalog-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1160px;
}

.catalog-header {
  width: 1080px;
  margin: 0 auto;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 430px;
  justify-content: space-between;
}

.breadcrumbs-link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.catalog-products {
  display: flex;
}

.catalog-filter {
  width: 320px;
}

.catalog-filter-title-main {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-right-column {
  width: 840px;
}

.catalog-filter-title,
.product-card-link {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.pagination-link {
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
  line-height: 20px;
}

.pagination-prev,
.pagination-next {
  text-decoration: none;
  color: #000000;
}
